<footer>
            <div class="container footer-wrapper">
                <div class="topfooter flex-div">
                    <div class="footer-details">
                        <h2>CONTACT DETAILS</h2>
                        <div class="footer-details-info flex-div">
                            <img src="{{ '_01_align_center.png' | asset_url }}" />
                            <div>
                                <p>123 Street Address, Suite A<br/>
                                    City Name, State 12345</p>
                            </div>
                        </div>
                        <div class="footer-details-info flex-div">
                            <img src="{{ 'phone-call 1footer.png' | asset_url }} }}" />
                            <div>
                                <p>Phone: +123-456-7890<br/>
                                    Email: sample@mail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="footer-nav">
                        <h2>SITE NAVIGATION</h2>
                        <div class="footer-nav-items flex-div">
                            <ul>
                                <li><a href="/">HOME</a></li>
                                <li><a href="/pages/about-us">ABOUT US</a></li>
                                <li><a href="/collections/all">SHOP</a></li>
                            </ul>
                            <ul>
                                <li><a href="/blogs/blog">BLOGS</a></li>
                                <li><a href="/pages/contact">CONTACT US</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-logo">
                        <img src="{{ 'Group 173.png' | asset_url }}" style="margin-top:20px;">
                    </div>
                </div>
            </div>
            <div class="bottomfooter">
                <p>Copyright © 2023 | StrawHat Goodies | All rights reserved.</p>
            </div>
        </footer>