<section class="newsletter">
            <div class="small-container">
                <h2>JOIN OUR MAILING LIST</h2>
                <p>Subscribe to get special offers, free giveaways, and exclusive deals.</p>
                <h3 class="newsletter-added">Thank you for signing up!</h3>
                <form method="post" action="/contact#newsletter_form" id="newsletter_form" class="newsletter-form" accept-charset="UTF-8" onsubmit="window.Shopify.recaptchaV3.addToken(this, 'contact'); return false;">
                  <input type="hidden" name="form_type" value="customer">
                  <input type="email" name="contact[email]" id="newsletter-email" placeholder="Email Address" required="" fdprocessedid="apdbxn">
                  <button type="submit" class="newsletter-submit" fdprocessedid="3w230s">SUBMIT</button>
                </form>
            </div>
</section>