<div class="collection-banner flex-div">
  <h1>ABOUT US</h1>
</div>
<div class="container about-wrapper" style="margin-top:60px;margin-bottom:100px;position: relative;max-width:1080px;">
  <div class="flex-div about-img-text" style="align-items:start;">
  <div>
    <h2 style="margin-bottom: 40px;">How We Started</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque, enim a aliquam auctor, nisl augue sollicitudin lectus, at cursus massa massa sed nisl. In non purus blandit, sagittis ex sit amet, interdum est. Sed magna odio, vulputate sit amet ligula sed, pellentesque pharetra orci. Sed vitae quam et nisi bibendum tincidunt id at turpis. Fusce ultrices a quam in sollicitudin. Donec egestas pulvinar lobortis. Nullam quis orci enim.<br/><br/>

Donec quam elit, volutpat nec pulvinar ac, rhoncus ut dolor. Sed convallis ornare enim, ac vestibulum velit. Morbi enim ipsum, tristique sit amet sollicitudin vitae, finibus eu ligula. Quisque ac ipsum quis orci sollicitudin finibus. Proin mattis eget libero nec bibendum. Donec pharetra elit eu venenatis fringilla. Ut vestibulum ligula eget sem luctus, vitae pellentesque orci vestibulum. Aliquam erat volutpat. Quisque aliquet tincidunt scelerisque.<br/><br/>
 </p>
  </div>
  <div style="margin-bottom:10px;">
    <img src="{{ 'front_square_three_quarter.png' | asset_url }}" />
  </div>
</div>
  <p>Curabitur a velit pulvinar leo tincidunt pulvinar ac hendrerit nulla. Vivamus commodo a tellus quis vulputate. Suspendisse potenti. Pellentesque in maximus justo, eget commodo ipsum. Fusce vel neque mi. Proin dictum imperdiet augue eget egestas. Ut non posuere magna. Sed velit quam, volutpat semper nisl eget, posuere auctor nibh. Vestibulum sed ultrices diam, ac mollis dui. Fusce semper vel eros sit amet condimentum. Proin lacinia consectetur malesuada. Nam pellentesque efficitur orci id egestas. Etiam convallis imperdiet ligula vitae ullamcorper. Etiam ut interdum purus. Donec eu blandit leo. Maecenas dolor odio, hendrerit quis luctus in, tristique et libero. Vivamus scelerisque quam et lectus posuere, quis euismod quam gravida. Donec et lacinia orci.<br/><br/>

Suspendisse dapibus lorem a dui posuere sagittis. Nunc facilisis nunc elit, ut auctor mauris semper eu. Quisque luctus ultricies urna, ut ultricies lectus malesuada at. Nulla nec aliquet lacus. Nulla eu urna gravida, aliquet nunc quis, faucibus massa. Nullam nec arcu mauris. Pellentesque hendrerit consectetur fringilla. Donec sit amet scelerisque erat. Mauris mi odio, ultrices eu porttitor et, facilisis ac sem. Sed purus dui, vulputate mattis eleifend sed, vehicula eu nisl. Cras ac ipsum nec sapien finibus volutpat non sit amet libero.
   </p>
  <h2 style="margin:80px auto 40px auto;text-align:center;">Vision, Mission, Core Values</h2>
  <div class="flex-div about-column-wrapper" style="gap:40px;margin-top:40px;">
    <div class="collection-banner flex-div about-column" style="background: url('{{ 'unsplash_7KLa-xLbSXA.png' | asset_url }}') no-repeat center center;">
      <h3 style="color:#ffffff;">Our Vision</h3>
      <p>Our vision is to be the best retailer of convenience for emerging markets.</p>
    </div>
    <div class="collection-banner flex-div about-column" style="background: url('{{ 'unsplash_gEKMstKfZ6w.png' | asset_url }}') no-repeat center center;">
      <h3 style="color:#ffffff;">Our Mission</h3>
      <p>To make daily life easier by providing modern convenience.</p>
    </div>
  </div>
  <h2 style="margin:80px auto 40px auto;text-align:center;">Core Values</h2>
  <div class="about-grid">
    <div class="about-grid-item">
      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M52 34.4032C53.375 34.4032 54.6667 34.6667 55.875 35.1937C57.0833 35.7207 58.1458 36.4374 59.0625 37.3439C59.9792 38.2503 60.6979 39.3254 61.2188 40.5692C61.7396 41.8129 62 43.1304 62 44.5217C62 45.6179 61.8333 46.6825 61.5 47.7154C61.1667 48.7484 60.6667 49.7075 60 50.5929V64L52 59.9526L44 64V50.5929C43.3542 49.7075 42.8646 48.7484 42.5312 47.7154C42.1979 46.6825 42.0208 45.6179 42 44.5217C42 43.1304 42.2604 41.8235 42.7812 40.6008C43.3021 39.3781 44.0104 38.303 44.9062 37.3755C45.8021 36.448 46.8646 35.7207 48.0938 35.1937C49.3229 34.6667 50.625 34.4032 52 34.4032ZM52 38.4506C51.1667 38.4506 50.3854 38.6087 49.6562 38.9249C48.9271 39.2411 48.2917 39.6733 47.75 40.2213C47.2083 40.7694 46.7812 41.4124 46.4688 42.1502C46.1562 42.888 46 43.6785 46 44.5217C46 45.365 46.1562 46.1555 46.4688 46.8933C46.7812 47.6311 47.2083 48.274 47.75 48.8221C48.2917 49.3702 48.9271 49.8024 49.6562 50.1186C50.3854 50.4348 51.1667 50.5929 52 50.5929C52.8333 50.5929 53.6146 50.4348 54.3438 50.1186C55.0729 49.8024 55.7083 49.3702 56.25 48.8221C56.7917 48.274 57.2188 47.6311 57.5312 46.8933C57.8438 46.1555 58 45.365 58 44.5217C58 43.6785 57.8438 42.888 57.5312 42.1502C57.2188 41.4124 56.7917 40.7694 56.25 40.2213C55.7083 39.6733 55.0729 39.2411 54.3438 38.9249C53.6146 38.6087 52.8333 38.4506 52 38.4506ZM56 57.4229V53.7866C54.75 54.3557 53.4167 54.6403 52 54.6403C50.5833 54.6403 49.25 54.3557 48 53.7866V57.4229L52 55.3992L56 57.4229ZM52 16.1897C50.8958 16.1897 49.8646 16.4005 48.9062 16.8221C47.9479 17.2437 47.0938 17.8235 46.3438 18.5613C45.5938 19.2991 45.0208 20.1528 44.625 21.1225C44.2292 22.0922 44.0208 23.1462 44 24.2846C44 26.224 43.5729 28.0474 42.7188 29.7549C41.8646 31.4625 40.6562 32.9065 39.0938 34.087C39.4896 34.2767 39.8646 34.4875 40.2188 34.7194C40.5729 34.9513 40.9375 35.1937 41.3125 35.4466L38.9688 38.7352C37.9479 37.9974 36.8438 37.4282 35.6562 37.0277C34.4688 36.6271 33.25 36.4269 32 36.4269C30.3333 36.4269 28.7812 36.7431 27.3438 37.3755C25.9062 38.0079 24.6354 38.8722 23.5312 39.9684C22.4271 41.0646 21.5625 42.361 20.9375 43.8577C20.3125 45.3544 20 46.9249 20 48.5692H16C16 47.0303 16.2083 45.5441 16.625 44.1107C17.0417 42.6772 17.6354 41.3281 18.4062 40.0632C19.1771 38.7984 20.1042 37.6601 21.1875 36.6482C22.2708 35.6364 23.5 34.7721 24.875 34.0553C23.3333 32.8959 22.1354 31.4625 21.2812 29.7549C20.4271 28.0474 20 26.224 20 24.2846C20 23.1673 19.7917 22.1238 19.375 21.1542C18.9583 20.1845 18.3854 19.3202 17.6562 18.5613C16.9271 17.8024 16.0833 17.2227 15.125 16.8221C14.1667 16.4216 13.125 16.2108 12 16.1897C10.8958 16.1897 9.86458 16.4005 8.90625 16.8221C7.94792 17.2437 7.09375 17.8235 6.34375 18.5613C5.59375 19.2991 5.02083 20.1528 4.625 21.1225C4.22917 22.0922 4.02083 23.1462 4 24.2846H0C0 23.1884 0.145833 22.1238 0.4375 21.0909C0.729167 20.058 1.13542 19.0777 1.65625 18.1502C2.17708 17.2227 2.82292 16.3794 3.59375 15.6206C4.36458 14.8617 5.22917 14.2082 6.1875 13.6601C5.5 12.9223 4.96875 12.0685 4.59375 11.0988C4.21875 10.1291 4.02083 9.1278 4 8.09486C4 6.9776 4.20833 5.93412 4.625 4.96443C5.04167 3.99473 5.61458 3.13043 6.34375 2.37154C7.07292 1.61265 7.91667 1.03294 8.875 0.632411C9.83333 0.231884 10.875 0.0210804 12 0C13.1042 0 14.1354 0.210804 15.0938 0.632411C16.0521 1.05402 16.9062 1.63373 17.6562 2.37154C18.4062 3.10935 18.9792 3.96311 19.375 4.93281C19.7708 5.9025 19.9792 6.95652 20 8.09486C20 9.1278 19.8125 10.1291 19.4375 11.0988C19.0625 12.0685 18.5208 12.9223 17.8125 13.6601C19.5208 14.6087 20.9167 15.9157 22 17.581C22.5625 16.7378 23.2083 15.9789 23.9375 15.3043C24.6667 14.6298 25.4583 14.0606 26.3125 13.5968C27.1667 13.1331 28.0729 12.7747 29.0312 12.5217C29.9896 12.2688 30.9792 12.1423 32 12.1423C33 12.1423 33.9792 12.2688 34.9375 12.5217C35.8958 12.7747 36.8021 13.1331 37.6562 13.5968C38.5104 14.0606 39.3125 14.6298 40.0625 15.3043C40.8125 15.9789 41.4583 16.7378 42 17.581C43.0833 15.9157 44.4792 14.6087 46.1875 13.6601C45.5 12.9223 44.9688 12.0685 44.5938 11.0988C44.2188 10.1291 44.0208 9.1278 44 8.09486C44 6.9776 44.2083 5.93412 44.625 4.96443C45.0417 3.99473 45.6146 3.13043 46.3438 2.37154C47.0729 1.61265 47.9167 1.03294 48.875 0.632411C49.8333 0.231884 50.875 0.0210804 52 0C53.1042 0 54.1354 0.210804 55.0938 0.632411C56.0521 1.05402 56.9062 1.63373 57.6562 2.37154C58.4062 3.10935 58.9792 3.96311 59.375 4.93281C59.7708 5.9025 59.9792 6.95652 60 8.09486C60 9.1278 59.8125 10.1291 59.4375 11.0988C59.0625 12.0685 58.5208 12.9223 57.8125 13.6601C58.7708 14.2082 59.625 14.8617 60.375 15.6206C61.125 16.3794 61.7708 17.2121 62.3125 18.1186C62.8542 19.025 63.2708 20.0053 63.5625 21.0593C63.8542 22.1133 64 23.1884 64 24.2846H60C60 23.1673 59.7917 22.1238 59.375 21.1542C58.9583 20.1845 58.3854 19.3202 57.6562 18.5613C56.9271 17.8024 56.0833 17.2227 55.125 16.8221C54.1667 16.4216 53.125 16.2108 52 16.1897ZM48 8.09486C48 8.66403 48.1042 9.19104 48.3125 9.67589C48.5208 10.1607 48.8021 10.5823 49.1562 10.9407C49.5104 11.2991 49.9375 11.5942 50.4375 11.8261C50.9375 12.058 51.4583 12.1634 52 12.1423C52.5625 12.1423 53.0833 12.0369 53.5625 11.8261C54.0417 11.6153 54.4583 11.3307 54.8125 10.9723C55.1667 10.614 55.4583 10.1818 55.6875 9.67589C55.9167 9.16996 56.0208 8.64295 56 8.09486C56 7.52569 55.8958 6.99868 55.6875 6.51383C55.4792 6.02899 55.1979 5.60738 54.8438 5.24901C54.4896 4.89065 54.0625 4.59552 53.5625 4.36364C53.0625 4.13175 52.5417 4.02635 52 4.04743C51.4375 4.04743 50.9167 4.15283 50.4375 4.36364C49.9583 4.57444 49.5417 4.85903 49.1875 5.21739C48.8333 5.57576 48.5417 6.00791 48.3125 6.51383C48.0833 7.01976 47.9792 7.54677 48 8.09486ZM8 8.09486C8 8.66403 8.10417 9.19104 8.3125 9.67589C8.52083 10.1607 8.80208 10.5823 9.15625 10.9407C9.51042 11.2991 9.9375 11.5942 10.4375 11.8261C10.9375 12.058 11.4583 12.1634 12 12.1423C12.5625 12.1423 13.0833 12.0369 13.5625 11.8261C14.0417 11.6153 14.4583 11.3307 14.8125 10.9723C15.1667 10.614 15.4583 10.1818 15.6875 9.67589C15.9167 9.16996 16.0208 8.64295 16 8.09486C16 7.52569 15.8958 6.99868 15.6875 6.51383C15.4792 6.02899 15.1979 5.60738 14.8438 5.24901C14.4896 4.89065 14.0625 4.59552 13.5625 4.36364C13.0625 4.13175 12.5417 4.02635 12 4.04743C11.4375 4.04743 10.9167 4.15283 10.4375 4.36364C9.95833 4.57444 9.54167 4.85903 9.1875 5.21739C8.83333 5.57576 8.54167 6.00791 8.3125 6.51383C8.08333 7.01976 7.97917 7.54677 8 8.09486ZM24 24.2846C24 25.4018 24.2083 26.4453 24.625 27.415C25.0417 28.3847 25.6146 29.249 26.3438 30.0079C27.0729 30.7668 27.9167 31.3465 28.875 31.747C29.8333 32.1476 30.875 32.3584 32 32.3794C33.1042 32.3794 34.1354 32.1686 35.0938 31.747C36.0521 31.3254 36.9062 30.7457 37.6562 30.0079C38.4062 29.2701 38.9792 28.4163 39.375 27.4466C39.7708 26.4769 39.9792 25.4229 40 24.2846C40 23.1673 39.7917 22.1238 39.375 21.1542C38.9583 20.1845 38.3854 19.3202 37.6562 18.5613C36.9271 17.8024 36.0833 17.2227 35.125 16.8221C34.1667 16.4216 33.125 16.2108 32 16.1897C30.8958 16.1897 29.8646 16.4005 28.9062 16.8221C27.9479 17.2437 27.0938 17.8235 26.3438 18.5613C25.5938 19.2991 25.0208 20.1528 24.625 21.1225C24.2292 22.0922 24.0208 23.1462 24 24.2846Z" fill="#CF2E2E"/>
      </svg>
      <h4>Teamwork</h4>
      <p>We foster an environment of synergy to attain the goals of the organization through active participation and mutual respect.</p>
    </div>
    <div class="about-grid-item">
      <svg width="59" height="68" viewBox="0 0 59 68" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M56.9997 46.8V22.8C56.9997 20.1504 54.9258 18 52.2114 18C50.529 18 47.2937 18.96 47.2937 22.8V13.2C47.2937 10.5504 45.2198 8.4 42.5054 8.4C40.8651 8.4 37.5877 9.36 37.5877 13.2V6.8C37.5877 4.1504 35.5139 2 32.7994 2C30.0818 2 27.8817 4.1504 27.8817 6.8V13.2C27.8817 9.36 24.6691 8.4 23.0288 8.4C20.3111 8.4 18.1758 10.6112 18.1758 13.264V40.4M27.8817 13.2V30.8M37.5877 13.2V30.8M47.2937 13.2V30.8" stroke="#CF2E2E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M57 46.8C57 59.6 46.8605 66 34.3527 66C21.845 66 17.542 62.8 7.83603 46.8L2.75334 38.464C1.01921 35.6864 2.40716 32.0832 5.60366 31.0592C6.64888 30.7215 7.77381 30.7098 8.82596 31.0258C9.8781 31.3418 10.8066 31.9701 11.4855 32.8256L18.1761 40.5056" stroke="#CF2E2E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <h4>Integrity</h4>
      <p>We are honest and trustworthy to our fellow employees, customers and business partners.</p>
    </div>
    <div class="about-grid-item">
      <img src="{{ 'Group 99.png' | asset_url }}" />
      <h4>Reliability</h4>
      <p>We deliver what we promise.</p>
    </div>
    <div class="about-grid-item">
      <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M58.1818 20.3605C59.7249 20.3605 61.2048 20.9735 62.2959 22.0646C63.387 23.1557 64 24.6356 64 26.1787V37.8151C64 39.3581 63.387 40.838 62.2959 41.9291C61.2048 43.0202 59.7249 43.6332 58.1818 43.6332H55.0924C54.3832 49.2574 51.6459 54.4294 47.3942 58.1787C43.1425 61.928 37.6687 63.9968 32 63.9969V58.1787C36.6292 58.1787 41.0689 56.3397 44.3422 53.0664C47.6156 49.793 49.4545 45.3534 49.4545 40.7241V23.2696C49.4545 18.6404 47.6156 14.2007 44.3422 10.9274C41.0689 7.65401 36.6292 5.81505 32 5.81505C27.3708 5.81505 22.9311 7.65401 19.6578 10.9274C16.3844 14.2007 14.5455 18.6404 14.5455 23.2696V43.6332H5.81818C4.2751 43.6332 2.79523 43.0202 1.70411 41.9291C0.612985 40.838 0 39.3581 0 37.8151V26.1787C0 24.6356 0.612985 23.1557 1.70411 22.0646C2.79523 20.9735 4.2751 20.3605 5.81818 20.3605H8.90764C9.61754 14.7369 12.3551 9.56566 16.6068 5.81702C20.8584 2.06837 26.3318 0 32 0C37.6682 0 43.1416 2.06837 47.3932 5.81702C51.6449 9.56566 54.3825 14.7369 55.0924 20.3605H58.1818ZM19.6655 43.0078L22.7491 38.074C25.5217 39.8108 28.7283 40.7294 32 40.7241C35.2717 40.7294 38.4783 39.8108 41.2509 38.074L44.3345 43.0078C40.6378 45.3238 36.3623 46.549 32 46.5423C27.6377 46.549 23.3622 45.3238 19.6655 43.0078Z" fill="#CF2E2E"/>
      </svg>
      <h4>Customer Focus</h4>
      <p>We put our customers first.</p>
    </div>
    <div class="about-grid-item">
        <svg width="51" height="64" viewBox="0 0 51 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M51 12.8C51 5.8624 39.3242 0 25.5 0C11.6758 0 0 5.8624 0 12.8V19.2C0 26.1376 11.6758 32 25.5 32C39.3242 32 51 26.1376 51 19.2V12.8ZM25.5 54.4C11.6758 54.4 0 48.5376 0 41.6V51.2C0 58.1376 11.6758 64 25.5 64C39.3242 64 51 58.1376 51 51.2V41.6C51 48.5376 39.3242 54.4 25.5 54.4Z" fill="#CF2E2E"/>
        <path d="M51 25.6C51 32.5376 39.3242 38.4 25.5 38.4C11.6758 38.4 0 32.5376 0 25.6V35.2C0 42.1376 11.6758 48 25.5 48C39.3242 48 51 42.1376 51 35.2V25.6Z" fill="#CF2E2E"/>
        </svg>
      <h4>Data-driven</h4>
      <p>We make decisions based on data.</p>
    </div>
    
  </div>
</div>
{% render 'newsletter' %}